body{
	background-image: url("/virelay/images/fondovirelayweb.jpg");
	margin:0;
	}
#back1{
position:absolute;
	height:2000px;
	width:80%;
	background-color:black;
	margin:0;
	right:10%;
	}
#frontimg{
	position:relative;
}
#menubar{
	position:relative;
	top:80px;
	width:100%;
	height:40px;
	background-color:white;
	margin:0;
	padding:0;
	list-style-type:none;
}
#menubar > li{
	display:block;
	height:40px;
	text-align: center;
	float:left;
line-height:40px;
	font-size:100%;
	transition:all 0.5s ease-in-out;
	
}
#menubar > li:hover{
	background-color:black;
	color:white;
	border-style: none none solid none;
	border-bottom-width: 5px;
	border-color:white;
	height:35px;
	cursor:pointer;
	
}
#menubar > li > a{
display:block;
	padding-left:10px;
	padding-right:10px;
	color: inherit;
	text-decoration: inherit;
	cursor: inherit;
	vertical-align:middle;
	height:40px;
	
	}



